<form #myForm="ngForm">
  <label for="fname">First Name </label>
  <input type="text" [(ngModel)]="user.fname" name="fname" /> <br />
  <label for="lname">Last Name </label>
  <input type="text" [(ngModel)]="user.lname" name="lname" /> <br />
  <button type="button" (click)="addUser(myForm)" *ngIf="!isEdit">
    Add User
  </button>
  <button *ngIf="isEdit" (click)="updateUser(myForm)">Update User</button>
</form>

<hr />
<table border="1">
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.fname }}</td>
      <td>{{ user.lname }}</td>
      <td><button (click)="editUser(user)">Edit</button></td>
      <td><button (click)="deleteUser(user)">Delete</button></td>
    </tr>
  </tbody>
</table>
